Repository ashtotakoe/youtube-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{json,md,html}": ["prettier --write"],
  "*.{js,ts}": ["prettier --write", "eslint --fix"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix"]
}

refactor(home): extract chat window to its own component
  src/app/core/services/countdown.service.ts
  src/app/home/components/chat-window/chat-window.component.ts
  src/app/home/components/groups-list/groups-list.component.html
  src/app/home/components/groups-list/groups-list.component.ts
  src/app/home/components/users-list/users-list.component.html
  src/app/home/components/users-list/users-list.component.ts
  src/app/home/home-store/home.effects.ts
  src/app/home/pages/group-page/group-page.component.html
  src/app/home/pages/group-page/group-page.component.ts
  src/app/shared/components/button-with-countdown/button-with-countdown.component.ts
Due: prettier --write, eslint --fix

Auto-generated commit [ci skip]
  374.c5bf1167f3fe4648.js
  374.d254799f3bf42cbb.js
  404.html
  index.html
  runtime.30bfe4c4f9b787c8.js
  runtime.3181d63e7a2f7948.js
Due: prettier --write, eslint --fix

refactor: minor changes
  src/app/home/components/chat-window/chat-window.component.html
  src/app/home/components/chat-window/chat-window.component.ts
Due: prettier --write, eslint --fix

Auto-generated commit [ci skip]
  374.584438bb3dfa8853.js
  374.c5bf1167f3fe4648.js
  404.html
  index.html
  runtime.3181d63e7a2f7948.js
  runtime.56769fbaa965c4cb.js
Due: prettier --write, eslint --fix

fix: fix countdown error
  src/app/home/components/chat-window/chat-window.component.ts
  src/app/home/components/groups-list/groups-list.component.ts
  src/app/home/components/resolvers/current-chat.resolver.ts
  src/app/home/home.routes.ts
  src/app/home/pages/group-page/group-page.component.html
  src/app/home/pages/group-page/group-page.component.ts
  src/app/shared/components/button-with-countdown/button-with-countdown.component.ts
Due: prettier --write, eslint --fix

Auto-generated commit [ci skip]
  374.584438bb3dfa8853.js
  404.html
  624.237a0fdf5447e8d4.js
  index.html
  main.4a7aa50ef7e20418.js
  main.8ca88d54db16f9e1.js
  runtime.56769fbaa965c4cb.js
  runtime.89d6e65eeaa9ce7c.js
Due: prettier --write, eslint --fix

Auto-generated commit [ci skip]
  404.html
  index.html
Due: prettier --write

Auto-generated commit [ci skip]
  404.html
  index.html
  main.4a7aa50ef7e20418.js
  main.ff2a2fa8d34d1d66.js
Due: prettier --write, eslint --fix

feat(home): add conversation display
  src/app/core/api/services/connections-http.service.ts
  src/app/core/enums/countdown-names.enum.ts
  src/app/home/components/chat-window/chat-window.component.html
  src/app/home/components/chat-window/chat-window.component.ts
  src/app/home/components/resolvers/current-conversation-chat.resolver.ts
  src/app/home/components/resolvers/current-group-chat.resolver.ts
  src/app/home/home-store/actions/connections-users-api.actions.ts
  src/app/home/home-store/actions/conversation-page.actions.ts
  src/app/home/home-store/home.effects.ts
  src/app/home/home-store/home.reducer.ts
  src/app/home/home-store/home.selectors.ts
  src/app/home/home-store/models/home-state.model.ts
  src/app/home/home-store/services/home.facade.ts
  src/app/home/home.module.ts
  src/app/home/home.routes.ts
  src/app/home/models/user.model.ts
  src/app/home/pages/conversation-page/conversation-page.component.html
  src/app/home/pages/conversation-page/conversation-page.component.scss
  src/app/home/pages/conversation-page/conversation-page.component.spec.ts
  src/app/home/pages/conversation-page/conversation-page.component.ts
  src/app/home/pages/group-page/group-page.component.html
  src/app/home/pages/group-page/group-page.component.ts
  src/app/home/unums/chat-types.enum.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat(home): add ability to delete load conversations
  src/app/core/api/services/connections-http.service.ts
  src/app/home/components/chat-window/chat-window.component.scss
  src/app/home/components/chat-window/chat-window.component.ts
  src/app/home/enums/chat-types.enum.ts
  src/app/home/home-store/actions/chat-window.actions.ts
  src/app/home/home-store/actions/connections-users-api.actions.ts
  src/app/home/home-store/actions/conversation-page.actions.ts
  src/app/home/home-store/actions/group-page.actions.ts
  src/app/home/home-store/home.effects.ts
  src/app/home/home-store/home.reducer.ts
  src/app/home/home-store/services/home.facade.ts
  src/app/home/pages/conversation-page/conversation-page.component.ts
  src/app/home/pages/group-page/group-page.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Auto-generated commit [ci skip]
  404.html
  581.c6a5a13ac40b5be9.js
  624.237a0fdf5447e8d4.js
  index.html
  main.eba1262fd1cd74fc.js
  main.ff2a2fa8d34d1d66.js
  runtime.21d649957160ae83.js
  runtime.89d6e65eeaa9ce7c.js
Due: prettier --write, eslint --fix

refactor: minor changes
  .husky/pre-commit
  src/app/admin/components/create-video-form/create-video-form.component.ts
  src/app/admin/utils/parse-video-data.util.ts
  src/app/app.module.ts
  src/app/core/core.module.ts
  src/app/core/enums/store-feature-names.enum.ts
  src/app/core/header/components/header/header.component.html
  src/app/core/header/components/header/header.component.ts
  src/app/core/services/mat-snack-bar.service.ts
  src/app/core/services/search-state.service.ts
  src/app/core/videos-store/services/videos.facade.ts
  src/app/core/videos-store/videos.effects.ts
  src/app/core/videos-store/videos.reducer.ts
  src/app/core/videos-store/videos.selectors.ts
  src/app/shared/components/favorite-button/favorite-button.component.html
  src/app/shared/components/favorite-button/favorite-button.component.ts
  src/app/shared/constants/custom-svg-icons.constant.ts
  src/app/shared/enums/snack-bar-messages.enum.ts
  src/app/shared/models/snippet.model.ts
  src/app/shared/utils/set-custom-svg-icons.util.ts
Due: prettier --write, eslint --fix

refactor: minor changes
  src/app/core/videos-store/actions/favorite-button.actions.ts
  src/app/core/videos-store/actions/favorite-videos.actions.ts
  src/app/core/videos-store/actions/videos-details.actions.ts
  src/app/core/videos-store/services/videos.facade.ts
  src/app/core/videos-store/videos.reducer.ts
  src/app/shared/components/favorite-button/favorite-button.component.html
  src/app/shared/components/favorite-button/favorite-button.component.ts
Due: prettier --write, eslint --fix

chore: add jest
  angular.json
  jest.config.ts
  karma.conf.js
  package-lock.json
  package.json
  setup-jest.ts
  src/app/app.component.ts
  src/app/app.routes.ts
  src/app/auth/pages/sign-up-page/sign-up-page.component.spec.ts
  src/app/core/services/mat-snack-bar.service.spec.ts
  src/app/core/youtube/services/youtube-http.service.spec.ts
  src/app/search/components/video/video.component.spec.ts
  src/app/search/directives/custom-color-bar.directive.spec.ts
  src/app/search/videos.module.ts
  tsconfig.spec.json
Due: prettier --write, eslint --fix

refactor: remove explicit subscriptions in facade
  src/app/home/components/chat-window/chat-window.component.ts
  src/app/home/components/users-list/users-list.component.ts
  src/app/home/home-store/home.effects.ts
  src/app/home/home-store/services/home.facade.ts
  src/app/shared/components/button-with-countdown/button-with-countdown.component.ts
Due: prettier --write, eslint --fix

refactor: minor changes
  src/app/home/components/groups-list/groups-list.component.ts
  src/app/home/components/users-list/users-list.component.ts
Due: prettier --write, eslint --fix

refactor: extract template to separate component
  angular.json
  src/app/home/components/groups-list/groups-list.component.html
  src/app/home/components/groups-list/groups-list.component.scss
  src/app/home/components/groups-list/groups-list.component.ts
  src/app/home/components/list/list.component.html
  src/app/home/components/list/list.component.scss
  src/app/home/components/list/list.component.spec.ts
  src/app/home/components/list/list.component.ts
  src/app/home/components/users-list/users-list.component.html
  src/app/home/components/users-list/users-list.component.scss
  src/app/home/home-page.component.html
  src/app/home/home-store/home.effects.ts
  src/app/home/home.module.ts
Due: prettier --write, eslint --fix, stylelint --fix

refactor(home): minor changes
  src/app/home/home-store/home.effects.ts
  src/app/shared/utils/get-sorted-messages-and-last-message-time.util.ts
Due: prettier --write, eslint --fix

fix: implemented video player view
  src/app/core/core.module.ts
  src/app/core/videos-store/videos.effects.ts
  src/app/core/youtube/tokens/youtube-player-api.token.ts
  src/app/search/components/video-player/video-player.component.html
  src/app/search/components/video-player/video-player.component.scss
  src/app/search/components/video-player/video-player.component.spec.ts
  src/app/search/components/video-player/video-player.component.ts
  src/app/search/pages/video-details-page/video-details-page.component.html
  src/app/search/search.module.ts
  src/app/shared/models/player.model.ts
Due: prettier --write, eslint --fix, stylelint --fix

Auto-generated commit [ci skip]
  404.html
  index.html
  main.161ad0291bf0a0fe.js
  main.c7774600bc5fac8e.js
Due: prettier --write, eslint --fix

fix: minor changes
  package.json
  src/app/core/header/components/header/header.component.html
  src/app/core/header/components/header/header.component.scss
Due: prettier --write, stylelint --fix

Auto-generated commit [ci skip]
  404.html
  index.html
  main.9850d376c9663175.js
  main.c7774600bc5fac8e.js
Due: prettier --write, eslint --fix

Auto-generated commit [ci skip]
  404.html
  index.html
  main.67ce5814f611040d.js
  main.9850d376c9663175.js
Due: prettier --write, eslint --fix

fix: add multi api key integration in interceptor
  src/app/core/header/components/header/header.component.html
  src/app/core/youtube/interceptors/auth.interceptor.ts
  src/app/core/youtube/tokens/reserve-api-keys.token.ts
  src/env.d.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
Due: prettier --write, eslint --fix

Auto-generated commit [ci skip]
  404.html
  index.html
  main.2b1b98f17324b234.js
  main.67ce5814f611040d.js
Due: prettier --write, eslint --fix

Auto-generated commit [ci skip]
  404.html
  index.html
  main.67ce5814f611040d.js
  main.ab9379aa1b2d5144.js
Due: prettier --write, eslint --fix

Auto-generated commit [ci skip]
  404.html
  index.html
  main.1bdeb13688baa223.js
  main.ab9379aa1b2d5144.js
Due: prettier --write, eslint --fix

Auto-generated commit [ci skip]
  404.html
  index.html
  main.1bdeb13688baa223.js
  main.207821630cd739b6.js
Due: prettier --write, eslint --fix

Auto-generated commit [ci skip]
  404.html
  577.2d7b06af9f1fe48d.js
  577.e9acd255980e3e9f.js
  index.html
  main.207821630cd739b6.js
  main.2e47ac7bc0cfddbd.js
  runtime.1c3d9e33c00f1af0.js
  runtime.a9eb2b5d7b99c154.js
Due: prettier --write, eslint --fix

Auto-generated commit [ci skip]
  404.html
  577.2d7b06af9f1fe48d.js
  577.bf7aaa545b76b78a.js
  index.html
  runtime.1c3d9e33c00f1af0.js
  runtime.565935f263f992a1.js
Due: prettier --write, eslint --fix
