Repository ashtotakoe/youtube-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

chore: schange husky script
  package.json
  src/app/app.component.html
Due: prettier --write

feat(auth): add sign up form
  .vscode/settings.json
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/app.module.ts
  src/app/app.routes.ts
  src/app/auth/auth.module.ts
  src/app/auth/auth.routes.ts
  src/app/auth/components/sign-in-form/sign-in-form.component.html
  src/app/auth/components/sign-in-form/sign-in-form.component.scss
  src/app/auth/components/sign-in-form/sign-in-form.component.spec.ts
  src/app/auth/components/sign-in-form/sign-in-form.component.ts
  src/app/auth/components/sign-up-form/sign-up-form.component.html
  src/app/auth/components/sign-up-form/sign-up-form.component.scss
  src/app/auth/components/sign-up-form/sign-up-form.component.spec.ts
  src/app/auth/components/sign-up-form/sign-up-form.component.ts
  src/app/auth/pages/sign-in-page/sign-in-page.component.html
  src/app/auth/pages/sign-in-page/sign-in-page.component.scss
  src/app/auth/pages/sign-in-page/sign-in-page.component.spec.ts
  src/app/auth/pages/sign-in-page/sign-in-page.component.ts
  src/app/auth/pages/sign-up-page/sign-up-page.component.html
  src/app/auth/pages/sign-up-page/sign-up-page.component.scss
  src/app/auth/pages/sign-up-page/sign-up-page.component.spec.ts
  src/app/auth/pages/sign-up-page/sign-up-page.component.ts
  src/app/shared/constants/regExp.const.ts
  src/app/shared/validators/different-cases.validator.ts
  src/app/shared/validators/letters-and-number-presence.validator.ts
  src/app/shared/validators/no-special-characters-or-numbers.validator.ts
  src/app/shared/validators/special-characters.validator.ts
Due: prettier --write, eslint --fix, stylelint --fix

chore: add ngrx
  .eslintrc.json
  package-lock.json
  package.json
  src/app/app.module.ts
Due: prettier --write, eslint --fix

feat(auth): add registration
  .eslintrc.json
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/auth/auth-store/actions/connections-api.actions.ts
  src/app/auth/auth-store/actions/sing-up-page.actions.ts
  src/app/auth/auth-store/auth.effects.ts
  src/app/auth/auth-store/auth.reducer.ts
  src/app/auth/auth-store/models/auth-state.model.ts
  src/app/auth/auth-store/services/auth.facade.ts
  src/app/auth/auth.module.ts
  src/app/auth/auth.routes.ts
  src/app/auth/components/sign-up-form/sign-up-form.component.html
  src/app/auth/components/sign-up-form/sign-up-form.component.ts
  src/app/core/core.module.ts
  src/app/core/enums/connections-api-slugs.enum.ts
  src/app/core/enums/error-messages.enum.ts
  src/app/core/services/connections-http.service.spec.ts
  src/app/core/services/connections-http.service.ts
  src/app/core/services/mat-snack-bar.service.spec.ts
  src/app/core/services/mat-snack-bar.service.ts
  src/app/core/tokens/api-url.token.ts
  src/app/shared/enums/auth-route-paths.enum.ts
  src/app/shared/enums/store-feature-names.enum.ts
  src/app/shared/models/user-data.model.ts
  src/app/shared/types/base-with-null.type.ts
  src/app/shared/utils/convert-to-user-data.ts
Due: prettier --write, eslint --fix

Auto-generated commit [ci skip]
  31.8a8cc15acbe80971.js
  3rdpartylicenses.txt
  404.html
  460.42d620df4844f2ae.js
  688.88925e760da9a1f8.js
  946.385b2b9a43b92749.js
  assets/icons/favorite-filled.svg
  assets/icons/favorite.svg
  assets/icons/youtube-logo.svg
  common.eacc51c3731c0b9d.js
  index.html
  main.547179a00200799a.js
  main.98e44a4cac904389.js
  polyfills.b161bb0a52a8ff14.js
  polyfills.b63d24d3a0c48cf2.js
  runtime.980f031586c11cc7.js
  runtime.ca8e3cef954b4c65.js
  styles.074f85a9e0c913f2.css
  styles.e80792cf181eeafa.css
Due: prettier --write, eslint --fix, stylelint --fix

Auto-generated commit [ci skip]
  favicon.ico
Due: none

chore: add angular-cli-ghpages
  angular.json
  package-lock.json
  package.json
  src/favicon.ico
Due: prettier --write

feat(auth): add login form
  src/_mixins.scss
  src/app/auth/auth-store/actions/connections-api.actions.ts
  src/app/auth/auth-store/actions/sign-in-page.actions.ts
  src/app/auth/auth-store/actions/sing-up-page.actions.ts
  src/app/auth/auth-store/auth.effects.ts
  src/app/auth/auth-store/auth.reducer.ts
  src/app/auth/auth-store/models/auth-state.model.ts
  src/app/auth/auth-store/selectors.ts
  src/app/auth/auth-store/services/auth.facade.ts
  src/app/auth/auth.module.ts
  src/app/auth/components/sign-in-form/sign-in-form.component.html
  src/app/auth/components/sign-in-form/sign-in-form.component.scss
  src/app/auth/components/sign-in-form/sign-in-form.component.ts
  src/app/auth/components/sign-up-form/sign-up-form.component.html
  src/app/auth/components/sign-up-form/sign-up-form.component.scss
  src/app/auth/components/sign-up-form/sign-up-form.component.ts
  src/app/auth/constants/auth-forms-validators.ts
  src/app/core/services/connections-http.service.ts
  src/app/shared/components/button-with-spinner/button-with-spinner.component.html
  src/app/shared/components/button-with-spinner/button-with-spinner.component.scss
  src/app/shared/components/button-with-spinner/button-with-spinner.component.spec.ts
  src/app/shared/components/button-with-spinner/button-with-spinner.component.ts
  src/app/shared/models/user-data.model.ts
  src/app/shared/types/user-login-data.type.ts
  src/app/shared/utils/convert-to-user-data.ts
  src/app/shared/utils/convert-to-user-registration-data.ts
  src/styles.scss
Due: prettier --write, eslint --fix, stylelint --fix

feat(profile): add profile store
  src/app/app.module.ts
  src/app/app.routes.ts
  src/app/auth/auth-store/actions/connections-registration-api.actions.ts
  src/app/auth/auth-store/auth.effects.ts
  src/app/auth/auth-store/auth.reducer.ts
  src/app/auth/auth-store/models/auth-state.model.ts
  src/app/auth/auth-store/selectors.ts
  src/app/auth/auth-store/services/auth.facade.ts
  src/app/auth/auth.module.ts
  src/app/core/api/enums/request-headers-names.enum.ts
  src/app/core/api/interceptors/profile.interceptor.ts
  src/app/core/api/models/connections-api-error.model.ts
  src/app/core/api/services/connections-http.service.ts
  src/app/core/enums/connections-api-slugs.enum.ts
  src/app/core/guards/must-user-be-authorized.guard.ts
  src/app/profile/models/profile-response.model.ts
  src/app/profile/models/user-profile-data.model.ts
  src/app/profile/profile-page.component.html
  src/app/profile/profile-page.component.scss
  src/app/profile/profile-page.component.spec.ts
  src/app/profile/profile-page.component.ts
  src/app/profile/profile-store/actions/connections-profile-api.actions.ts
  src/app/profile/profile-store/actions/profile-page.actions.ts
  src/app/profile/profile-store/models/profile-state.model.ts
  src/app/profile/profile-store/profile.effects.ts
  src/app/profile/profile-store/profile.reducer.ts
  src/app/profile/profile-store/services/profile.facade.ts
  src/app/profile/profile.module.ts
  src/app/profile/profile.routes.ts
  src/app/shared/enums/store-feature-names.enum.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat(profile): add profile page
  src/app/app.module.ts
  src/app/core/api/services/connections-http.service.ts
  src/app/core/core.module.ts
  src/app/home/home-page.component.html
  src/app/home/home-page.component.ts
  src/app/profile/models/user-profile-data.model.ts
  src/app/profile/profile-page.component.html
  src/app/profile/profile-page.component.scss
  src/app/profile/profile-page.component.ts
  src/app/profile/profile-store/actions/connections-profile-api.actions.ts
  src/app/profile/profile-store/models/profile-state.model.ts
  src/app/profile/profile-store/profile.effects.ts
  src/app/profile/profile-store/profile.reducer.ts
  src/app/profile/profile-store/profile.selectors.ts
  src/app/profile/profile-store/services/profile.facade.ts
  src/app/profile/profile.module.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat(profile): add name editing feature
  src/_mixins.scss
  src/app/core/api/services/connections-http.service.ts
  src/app/profile/profile-page.component.html
  src/app/profile/profile-page.component.scss
  src/app/profile/profile-page.component.ts
  src/app/profile/profile-store/actions/connections-profile-api.actions.ts
  src/app/profile/profile-store/actions/profile-page.actions.ts
  src/app/profile/profile-store/profile.effects.ts
  src/app/profile/profile-store/profile.reducer.ts
  src/app/profile/profile-store/services/profile.facade.ts
  src/app/profile/profile.module.ts
  src/app/shared/components/button-with-spinner/button-with-spinner.component.html
  src/app/shared/components/button-with-spinner/button-with-spinner.component.scss
  src/app/shared/components/button-with-spinner/button-with-spinner.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

refactor(profile): fix http response
  src/app/core/api/services/connections-http.service.ts
Due: prettier --write, eslint --fix

feat: add logout feature
  src/app/core/api/interceptors/profile.interceptor.ts
  src/app/core/api/services/connections-http.service.ts
  src/app/core/enums/connections-api-slugs.enum.ts
  src/app/profile/profile-page.component.html
  src/app/profile/profile-page.component.scss
  src/app/profile/profile-page.component.ts
  src/app/profile/profile-store/actions/connections-profile-api.actions.ts
  src/app/profile/profile-store/actions/profile-page.actions.ts
  src/app/profile/profile-store/profile.effects.ts
  src/app/profile/profile-store/profile.reducer.ts
  src/app/profile/profile-store/services/profile.facade.ts
  src/app/shared/components/button-with-spinner/button-with-spinner.component.html
  src/app/shared/components/button-with-spinner/button-with-spinner.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat: add countdown button
  src/app/core/api/interceptors/profile.interceptor.ts
  src/app/home/home-page.component.html
  src/app/home/home-page.component.ts
  src/app/home/home.module.ts
  src/app/profile/profile-page.component.html
  src/app/shared/components/button-with-countdown/button-with-countdown.component.html
  src/app/shared/components/button-with-countdown/button-with-countdown.component.scss
  src/app/shared/components/button-with-countdown/button-with-countdown.component.spec.ts
  src/app/shared/components/button-with-countdown/button-with-countdown.component.ts
  src/app/shared/components/button-with-spinner/button-with-spinner.component.html
  src/app/shared/components/button-with-spinner/button-with-spinner.component.ts
  src/app/shared/services/countdown.service.spec.ts
  src/app/shared/services/countdown.service.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix(home): fix countdown button
  src/app/home/home-page.component.html
  src/app/shared/components/button-with-countdown/button-with-countdown.component.ts
  src/app/shared/services/countdown.service.ts
Due: prettier --write, eslint --fix

feat(home): add ngrx store
  src/app/auth/auth-store/auth.selectors.ts
  src/app/auth/auth-store/services/auth.facade.ts
  src/app/home/home-page.component.html
  src/app/home/home-page.component.ts
  src/app/home/home-store/actions/home-page.actions.ts
  src/app/home/home-store/home.effects.ts
  src/app/home/home-store/home.reducer.ts
  src/app/home/home-store/home.selectors.ts
  src/app/home/home-store/models/home-state.model.ts
  src/app/home/home-store/services/home.facade.ts
  src/app/home/home.module.ts
  src/app/shared/enums/store-feature-names.enum.ts
Due: prettier --write, eslint --fix

feat(home): add groups display
  src/app/core/api/interceptors/profile.interceptor.ts
  src/app/core/api/services/connections-http.service.ts
  src/app/core/enums/connections-api-slugs.enum.ts
  src/app/home/components/groups-list/groups-list.component.html
  src/app/home/components/groups-list/groups-list.component.scss
  src/app/home/components/groups-list/groups-list.component.spec.ts
  src/app/home/components/groups-list/groups-list.component.ts
  src/app/home/home-page.component.html
  src/app/home/home-page.component.scss
  src/app/home/home-page.component.ts
  src/app/home/home-store/actions/connections-groups-api.actions.ts
  src/app/home/home-store/actions/group-list.actions.ts
  src/app/home/home-store/actions/home-page.actions.ts
  src/app/home/home-store/home.effects.ts
  src/app/home/home-store/home.reducer.ts
  src/app/home/home-store/home.selectors.ts
  src/app/home/home-store/models/home-state.model.ts
  src/app/home/home-store/services/home.facade.ts
  src/app/home/home.module.ts
  src/app/home/models/group-list-repsponse.model.ts
  src/app/home/models/group.model.ts
  src/app/profile/models/profile-response.model.ts
  src/app/profile/profile-page.component.html
  src/app/profile/profile-page.component.scss
  src/app/profile/types/profile-response.type.ts
  src/app/shared/types/with-s-key.type.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat(home): add group creation feature
  src/app/auth/components/sign-in-form/sign-in-form.component.ts
  src/app/auth/components/sign-up-form/sign-up-form.component.ts
  src/app/core/api/services/connections-http.service.ts
  src/app/core/enums/error-messages.enum.ts
  src/app/home/components/create-group-dialog-form/create-group-dialog-form.component.html
  src/app/home/components/create-group-dialog-form/create-group-dialog-form.component.scss
  src/app/home/components/create-group-dialog-form/create-group-dialog-form.component.spec.ts
  src/app/home/components/create-group-dialog-form/create-group-dialog-form.component.ts
  src/app/home/components/group-list-item/group-list-item.component.html
  src/app/home/components/group-list-item/group-list-item.component.scss
  src/app/home/components/group-list-item/group-list-item.component.spec.ts
  src/app/home/components/group-list-item/group-list-item.component.ts
  src/app/home/components/groups-list/groups-list.component.html
  src/app/home/components/groups-list/groups-list.component.scss
  src/app/home/components/groups-list/groups-list.component.ts
  src/app/home/home-store/actions/connections-groups-api.actions.ts
  src/app/home/home-store/actions/create-group-form.actions.ts
  src/app/home/home-store/home.effects.ts
  src/app/home/home-store/home.reducer.ts
  src/app/home/home-store/models/home-state.model.ts
  src/app/home/home-store/services/home.facade.ts
  src/app/home/home.module.ts
  src/app/home/models/group.model.ts
  src/app/shared/constants/forms-validators-sets.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat(home): add group deletion functionality
  src/app/core/api/services/connections-http.service.ts
  src/app/core/components/not-found/not-found.component.html
  src/app/core/components/not-found/not-found.component.scss
  src/app/core/components/not-found/not-found.component.spec.ts
  src/app/core/components/not-found/not-found.component.ts
  src/app/home/components/group-list-item/group-list-item.component.html
  src/app/home/components/group-list-item/group-list-item.component.scss
  src/app/home/components/group-list-item/group-list-item.component.ts
  src/app/home/home-store/actions/connections-groups-api.actions.ts
  src/app/home/home-store/actions/group-list.actions.ts
  src/app/home/home-store/home.effects.ts
  src/app/home/home-store/home.reducer.ts
  src/app/home/home-store/services/home.facade.ts
  src/app/home/home.module.ts
  src/app/home/home.routes.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix(home): fix group create / delete functionality
  src/app/core/api/services/connections-http.service.ts
  src/app/home/components/group-list-item/group-list-item.component.html
  src/app/home/components/group-list-item/group-list-item.component.scss
  src/app/home/components/groups-list/groups-list.component.ts
  src/app/home/home-store/home.effects.ts
  src/app/profile/profile-store/profile.effects.ts
Due: prettier --write, eslint --fix, stylelint --fix

refactor(home): minor changes
  src/app/home/components/create-group-dialog-form/create-group-dialog-form.component.html
  src/app/home/components/create-group-dialog-form/create-group-dialog-form.component.ts
  src/app/home/home-store/home.effects.ts
  src/app/home/home.module.ts
  src/app/home/services/dialog-state.service.spec.ts
  src/app/home/services/dialog-state.service.ts
  src/app/shared/services/countdown.service.ts
Due: prettier --write, eslint --fix

refactor(home): refactor countdown service
  src/app/core/enums/countdown-names.enum.ts
  src/app/core/services/countdown.service.spec.ts
  src/app/core/services/countdown.service.ts
  src/app/home/home-store/home.effects.ts
  src/app/shared/components/button-with-countdown/button-with-countdown.component.ts
  src/app/shared/services/countdown.service.ts
Due: prettier --write, eslint --fix

feat(home): add users request
  src/app/core/api/interceptors/profile.interceptor.ts
  src/app/core/api/services/connections-http.service.ts
  src/app/core/enums/connections-api-slugs.enum.ts
  src/app/home/components/groups-list/groups-list.component.html
  src/app/home/components/users-list/users-list.component.html
  src/app/home/components/users-list/users-list.component.scss
  src/app/home/components/users-list/users-list.component.spec.ts
  src/app/home/components/users-list/users-list.component.ts
  src/app/home/home-page.component.html
  src/app/home/home-store/actions/connections-users-api.actions.ts
  src/app/home/home-store/actions/users-list.actions.ts
  src/app/home/home-store/home.effects.ts
  src/app/home/home-store/home.reducer.ts
  src/app/home/home-store/home.selectors.ts
  src/app/home/home-store/models/home-state.model.ts
  src/app/home/home-store/services/home.facade.ts
  src/app/home/home.module.ts
  src/app/home/models/conversation-response.model.ts
  src/app/home/models/conversation.model.ts
  src/app/home/models/user.model.ts
  src/app/home/models/users-response.model.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat(home): add user list
  src/app/core/api/services/connections-http.service.ts
  src/app/core/enums/countdown-names.enum.ts
  src/app/home/components/groups-list/groups-list.component.html
  src/app/home/components/groups-list/groups-list.component.ts
  src/app/home/components/users-list-item/users-list-item.component.html
  src/app/home/components/users-list-item/users-list-item.component.scss
  src/app/home/components/users-list-item/users-list-item.component.spec.ts
  src/app/home/components/users-list-item/users-list-item.component.ts
  src/app/home/components/users-list/users-list.component.html
  src/app/home/components/users-list/users-list.component.scss
  src/app/home/components/users-list/users-list.component.ts
  src/app/home/home-store/actions/connections-users-api.actions.ts
  src/app/home/home-store/actions/users-list.actions.ts
  src/app/home/home-store/home.effects.ts
  src/app/home/home-store/home.reducer.ts
  src/app/home/home-store/services/home.facade.ts
  src/app/home/home.module.ts
  src/app/shared/components/button-with-countdown/button-with-countdown.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Auto-generated commit [ci skip]
  11.c086285cdf7916e9.js
  286.8e20a2ab1cf5547c.js
  31.8a8cc15acbe80971.js
  373.96ca783cb90aa91f.js
  404.html
  969.6a9f196bbf24fc2b.js
  common.650c2b1ba2dca3ee.js
  index.html
  main.98e44a4cac904389.js
  main.f1cbacaae3c2f5b2.js
  runtime.2d07f2a59a35331f.js
  runtime.980f031586c11cc7.js
  styles.074f85a9e0c913f2.css
  styles.941ea3dfa0ea360f.css
Due: prettier --write, eslint --fix, stylelint --fix

Auto-generated commit [ci skip]
  11.c086285cdf7916e9.js
  11.e958c0f3badb087c.js
  286.8e20a2ab1cf5547c.js
  404.html
  637.2bf9d4f9fb780df6.js
  969.0f97dcb2c818f5ac.js
  969.6a9f196bbf24fc2b.js
  index.html
  main.abce9bc7b2679579.js
  main.f1cbacaae3c2f5b2.js
  runtime.2d07f2a59a35331f.js
  runtime.69d9343dfe58eb72.js
Due: prettier --write, eslint --fix

Auto-generated commit [ci skip]
  404.html
  index.html
  main.abce9bc7b2679579.js
  main.b257e56a45b4179c.js
Due: prettier --write, eslint --fix

feat(core): add not-found page
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.routes.ts
  src/app/auth/auth.routes.ts
  src/app/core/api/services/connections-http.service.ts
  src/app/core/components/not-found/not-found.component.html
  src/app/core/components/not-found/not-found.component.ts
  src/app/core/core.module.ts
  src/app/core/enums/error-messages.enum.ts
  src/app/home/home-store/actions/group-page.actions.ts
  src/app/home/home-store/home.reducer.ts
  src/app/home/home-store/models/home-state.model.ts
  src/app/home/home.module.ts
  src/app/home/home.routes.ts
  src/app/home/models/chat.model.ts
  src/app/home/models/message-response.model.ts
  src/app/home/models/message.model.ts
  src/app/home/pages/group-page/group-page.component.html
  src/app/home/pages/group-page/group-page.component.scss
  src/app/home/pages/group-page/group-page.component.spec.ts
  src/app/home/pages/group-page/group-page.component.ts
  src/app/profile/profile.routes.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat(home): add message fetching
  src/app/app.component.html
  src/app/core/api/services/connections-http.service.ts
  src/app/home/home-store/actions/connections-groups-api.actions.ts
  src/app/home/home-store/actions/group-page.actions.ts
  src/app/home/home-store/home.effects.ts
  src/app/home/home-store/home.reducer.ts
  src/app/home/home-store/home.selectors.ts
  src/app/home/home-store/models/home-state.model.ts
  src/app/home/home-store/services/home.facade.ts
  src/app/home/models/group-list-response.model.ts
  src/app/home/models/group.model.ts
  src/app/home/pages/group-page/group-page.component.html
  src/app/home/pages/group-page/group-page.component.ts
Due: prettier --write, eslint --fix

fix: fix message loading
  src/app/home/components/chat-window/chat-window.component.html
  src/app/home/components/chat-window/chat-window.component.scss
  src/app/home/components/chat-window/chat-window.component.spec.ts
  src/app/home/components/chat-window/chat-window.component.ts
  src/app/home/components/groups-list/groups-list.component.ts
  src/app/home/home-store/home.effects.ts
  src/app/home/home-store/models/home-state.model.ts
  src/app/home/home-store/services/home.facade.ts
  src/app/home/home.module.ts
  src/app/home/models/chat.model.ts
  src/app/home/models/group.model.ts
  src/app/home/pages/group-page/group-page.component.html
  src/app/home/pages/group-page/group-page.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat(home): add delete from chat page
  src/app/home/home-store/home.effects.ts
  src/app/home/pages/group-page/group-page.component.html
  src/app/home/pages/group-page/group-page.component.ts
Due: prettier --write, eslint --fix

refactor: add properties to message
  src/app/core/enums/countdown-names.enum.ts
  src/app/home/components/chat-window/chat-window.component.html
  src/app/home/components/chat-window/chat-window.component.scss
  src/app/home/components/chat-window/chat-window.component.ts
  src/app/home/home-store/actions/group-page.actions.ts
  src/app/home/home-store/home.effects.ts
  src/app/home/home-store/services/home.facade.ts
  src/app/home/models/message.model.ts
  src/app/home/pages/group-page/group-page.component.html
  src/app/home/pages/group-page/group-page.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Auto-generated commit [ci skip]
  189.521da07d59c789c7.js
  373.96ca783cb90aa91f.js
  373.eb9ef69559164d43.js
  404.html
  637.2bf9d4f9fb780df6.js
  index.html
  main.8d0e0d705caa56f8.js
  main.b257e56a45b4179c.js
  runtime.69d9343dfe58eb72.js
  runtime.e6d9ebcb4421efc9.js
Due: prettier --write, eslint --fix

Auto-generated commit [ci skip]
  189.521da07d59c789c7.js
  189.87d286471fd25771.js
  404.html
  index.html
  runtime.235f50431b0fe065.js
  runtime.e6d9ebcb4421efc9.js
Due: prettier --write, eslint --fix

feat(home): add chat window
  src/app/core/api/services/connections-http.service.ts
  src/app/home/components/chat-window/chat-window.component.html
  src/app/home/components/chat-window/chat-window.component.scss
  src/app/home/components/chat-window/chat-window.component.ts
  src/app/home/home-store/actions/chat-window.actions.ts
  src/app/home/home-store/actions/connections-groups-api.actions.ts
  src/app/home/home-store/home.effects.ts
  src/app/home/home-store/home.reducer.ts
  src/app/home/home-store/services/home.facade.ts
  src/app/home/home.module.ts
  src/app/home/pages/group-page/group-page.component.html
Due: prettier --write, eslint --fix, stylelint --fix

Auto-generated commit [ci skip]
  189.87d286471fd25771.js
  189.9d3d831f7768a620.js
  404.html
  index.html
  runtime.235f50431b0fe065.js
  runtime.e964a5972db63dae.js
Due: prettier --write, eslint --fix

refactor(home): extract button with confirmation to new component
  src/app/home/components/chat-window/chat-window.component.html
  src/app/home/components/chat-window/chat-window.component.scss
  src/app/home/components/group-list-item/group-list-item.component.html
  src/app/home/components/group-list-item/group-list-item.component.ts
  src/app/home/home.module.ts
  src/app/home/pages/group-page/group-page.component.html
  src/app/home/pages/group-page/group-page.component.ts
  src/app/profile/profile-store/profile.effects.ts
  src/app/shared/components/button-with-confirmation/button-with-confirmation.component.html
  src/app/shared/components/button-with-confirmation/button-with-confirmation.component.scss
  src/app/shared/components/button-with-confirmation/button-with-confirmation.component.spec.ts
  src/app/shared/components/button-with-confirmation/button-with-confirmation.component.ts
Due: prettier --write, eslint --fix, stylelint --fix

Auto-generated commit [ci skip]
  189.9d3d831f7768a620.js
  374.d254799f3bf42cbb.js
  404.html
  index.html
  main.8ca88d54db16f9e1.js
  main.8d0e0d705caa56f8.js
  runtime.30bfe4c4f9b787c8.js
  runtime.e964a5972db63dae.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.{json,md,html}) or (any of: *.{js,ts})) or (any of: *.{css,scss})
  eslint --fix: any of: *.{js,ts}
  stylelint --fix: any of: *.{css,scss}
